<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Game Dashboard</title>
	<!-- Include your CSS files here -->
</head>

<body>

	<div class="header">
		<div>LOGO</div>
		<nav>
			<ul>
				<li><a th:href="@{/admin-dashboard}">Dashboard</a></li>
				<li><a th:href="@{/game-list}">Game List</a></li>
				<li><a th:href="@{/account-list}">Account List</a></li>
                <li class="right"><span th:text="${session.username}">Username</span></li>
			</ul>
		</nav>
		<div class="admin-info">
			<span>ADMIN</span>
		</div>
	</div>

	<div class="sidebar">
		<ul>
            <li><a th:href="@{/game-popularList}">Popular Games</a></li>
            <li><a th:href="@{/game-list}">Games List</a></li>
            <li><a th:href="@{/games-pending-review}">Games Pending Review</a></li>
		</ul>
	</div>

	<div class="content">
		<div class="search-bar">
			<form th:action="@{/search}" method="get">
				<input type="text" name="query" />
				<button type="submit">Search</button>
			</form>
		</div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Genre</th>
					<th>Rating</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games}">
					<td th:text="${game.game.title}"></td>
					<td th:text="${game.game.genres}"></td>
					<td>[[${game.game.rating}]]%</td>
					<td><a th:href="@{/game-detail(id=${game.game.id})}">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Include your JS files here -->

</body>

</html>