<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Game Dashboard</title>
	<!-- Include your CSS files here -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>

<body>
	<div th:insert="fragment/layout :: common-header"></div>

	<div class="admin-container">
		<div class="sidebar">
			<ul>
				<li><a th:href="@{/account-list}">Gamer List</a></li>
				<li><a th:href="@{/developer-list}">Developer List</a></li>
<!--				<li><a th:href="@{/view-ban-request}">View Ban Request</a></li>
				<li><a th:href="@{/operation-history}">Operation history</a></li>-->
			</ul>
		</div>

		<div class="content">
			<div class="search-bar">
				<form th:action="@{${searchAction}}" method="get">
					<input type="text" name="query" nameclass="search-input" placeholder="">
					<button type="submit" class="search-button">Search</button>
				</form>
			</div>
			<table class="styled-table" style="border-collapse: collapse; width: 50%;">
				<thead>
					<tr>
						<th>Name</th>
						<th>Display Name</th>
						<th>Role</th>
						<th>User ID</th>
						<th>Register time</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account : ${accounts}">
						<td th:text="${account.account.username}"></td>
						<td th:text="${account.account.displayName}"></td>
						<td th:text="${account.account.role}"></td>
						<td th:text="${account.account.user.id}"></td>
						<td th:text="${account.account.user.dateCreated}"></td>
						<td th:text="${account.account.accStatus}"></td>
						<td><a th:href="@{/account-detail(id=${account.account.user.id})}">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Include your JS files here -->

</body>

</html>